.formComponent{
    display: flex;
    /* background-color: rgb(75, 75, 75); */
    flex-direction: column;
    width: 100%;
}
input{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(255, 7, 7);
    background-color: rgb(128, 128, 128);
    width: 100%;
    color: aliceblue;
    font-family: 'Poppins';
    font-size: 16px;
}
input:focus{
    border-color: rgb(255, 7, 7);
}
label{
    color: aliceblue;
    font-family: 'Poppins';
}